/**Alex Code**/
body{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.container{
  background-color: #fff;
  border-radius: 5px;
}
/**head**/


.head__1{
  height:  175px;

}
.blok__init{
  margin-top: 50px;
  margin-left: 15px;
  display: inline-block;
width: 250px;
height:200px;

}
.head_1 h1{


  text-align: left;
  font-size: 34px;

}

.Avatar__picture{
  margin-top: 30px;
  display: inline-block;
  width: 125px;
  height:125px;
  float:left;
}
/**navigation bar**/
.nav__bar{
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.navigation__bar{
  margin: 0 auto;
  text-align: center;
  width:auto;


}
.navigation__bar a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}



/**main container**/

.left__container{
  height: 400PX;
  }

.right__container{
  height: 400px;

}
/**footer**/

.footer__container{
  padding-top: 10px;
  text-align: center;
  border-top: 2px solid #000;

}
.footer__container h6{
  margin-top: 10px;
}

/**Alex Code**/

.card {
  background-color: #911818;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
 }

#header_5{
  border-bottom: 2px solid white;
  margin-bottom: 25px;
  
  }

.card-body {
  margin-right: 55px;
  margin-left: -12px;
}
